{% extends "base.html" %}
{% block content %}

<div class="card p-4">
    <h4>Attendance Records</h4>

    <form method="get" class="row g-3 mb-3">
        <div class="col-md-4">
            <select class="form-select" name="course" required>
                <option value="">Select Course</option>
                {% for course in courses %}
                    <option value="{{ course.id }}"
                    {% if course.id|string == selected_course %}selected{% endif %}>
                        {{ course.name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-4">
            <input type="date" class="form-control" name="date" value="{{ selected_date }}" required>
        </div>

        <div class="col-md-4">
            <button class="btn btn-primary w-100">View</button>
        </div>
    </form>

    {% if records %}
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>Roll No</th>
                <th>Name</th>
                <th>Status</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
        {% for r in records %}
            <tr>
                <td>{{ r.roll_no }}</td>
                <td>{{ r.name }}</td>
                <td>
                    {% if r.status == "Present" %}
                        <span class="badge badge-present">Present</span>
                    {% else %}
                        <span class="badge badge-absent">Absent</span>
                    {% endif %}
                </td>
                <td>{{ r.time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success"
       href="/download-attendance?course={{ selected_course }}&date={{ selected_date }}">
        Download CSV
    </a>
    {% endif %}
</div>

{% endblock %}
